In [9]:
pip install --user matplotlib

Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/40/d9/c1784db9db0d484c8e5deeafbaac0d6ed66e165c6eb4a74fb43a5fa947d9/matplotlib-3.8.0-cp311-cp311-win_amd64.whl.metadata
  Using cached matplotlib-3.8.0-cp311-cp311-win_amd64.whl.metadata (5.9 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: packaging>=20.0 in c:\users\tkaan\appdata\roaming\python\python311\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tkaan\appdata\roaming\python\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\tkaan\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.8.0-cp311-cp311-win_amd64.whl (7.6 MB)
Installing collected packages: matplotlib
Successfully installed matplotlib-3.8.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\tkaan\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\tkaan\anaconda3\Lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires visions[type_image_path]==0.7.4, but you have visions 0.7.5 which is incompatible.

In [11]:
pip install --upgrade matplotlib

Requirement already satisfied: matplotlib in c:\users\tkaan\appdata\roaming\python\python311\site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: packaging>=20.0 in c:\users\tkaan\appdata\roaming\python\python311\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tkaan\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tkaan\appdata\roaming\python\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\tkaan\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

AttributeError: module 'matplotlib' has no attribute 'get_data_path'

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\tkaan\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df = pd.read_excel("cars.xls")

In [4]:
x = df[["Mileage","Cylinder","Liter","Cruise","Make","Trim"]]

In [5]:
y = df[["Price"]]

In [6]:
x

     Mileage  Cylinder  Liter  Cruise    Make           Trim
0       8221         6    3.1       1   Buick       Sedan 4D
1       9135         6    3.1       1   Buick       Sedan 4D
2      13196         6    3.1       1   Buick       Sedan 4D
3      16342         6    3.1       1   Buick       Sedan 4D
4      19832         6    3.1       1   Buick       Sedan 4D
..       ...       ...    ...     ...     ...            ...
799    16229         6    3.0       1  Saturn  L300 Sedan 4D
800    19095         6    3.0       1  Saturn  L300 Sedan 4D
801    20484         6    3.0       1  Saturn  L300 Sedan 4D
802    25979         6    3.0       1  Saturn  L300 Sedan 4D
803    35662         6    3.0       1  Saturn  L300 Sedan 4D

[804 rows x 6 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
label_encoder = LabelEncoder()

In [9]:
x['Make'] = label_encoder.fit_transform(x['Make'])
x['Trim'] = label_encoder.fit_transform(x['Trim'])

C:\Users\tkaan\AppData\Local\Temp\ipykernel_7864\184736559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Make'] = label_encoder.fit_transform(x['Make'])
C:\Users\tkaan\AppData\Local\Temp\ipykernel_7864\184736559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Trim'] = label_encoder.fit_transform(x['Trim'])

In [10]:
x

     Mileage  Cylinder  Liter  Cruise  Make  Trim
0       8221         6    3.1       1     0    44
1       9135         6    3.1       1     0    44
2      13196         6    3.1       1     0    44
3      16342         6    3.1       1     0    44
4      19832         6    3.1       1     0    44
..       ...       ...    ...     ...   ...   ...
799    16229         6    3.0       1     5    21
800    19095         6    3.0       1     5    21
801    20484         6    3.0       1     5    21
802    25979         6    3.0       1     5    21
803    35662         6    3.0       1     5    21

[804 rows x 6 columns]

In [11]:
y

            Price
0    17314.103129
1    17542.036083
2    16218.847862
3    16336.913140
4    16339.170324
..            ...
799  16507.070267
800  16175.957604
801  15731.132897
802  15118.893228
803  13585.636802

[804 rows x 1 columns]

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [14]:
lr = LinearRegression()

In [15]:
model = lr.fit(x_train,y_train)

In [16]:
tahmin = model.predict(x_test)

In [17]:
from sklearn.metrics import mean_squared_error, r2_score

In [18]:
(mean_squared_error(tahmin,y_test))**.5   #Label Encoding ile Fiyat farki

7358.509028268524

In [19]:
r2_score(tahmin,y_test)    #Label Encoding Basari Orani

-0.09149242024559179

In [26]:
x = df[["Mileage","Cylinder","Liter","Cruise","Make","Trim"]]

In [27]:
x = pd.get_dummies(x,drop_first=True)

In [28]:
x

,Mileage,Cylinder,Liter,Cruise,Make_Cadillac,Make_Chevrolet,Make_Pontiac,Make_SAAB,Make_Saturn,Trim_Aero Conv 2D,...,Trim_Quad Coupe 2D,Trim_SE Sedan 4D,Trim_SLE Sedan 4D,Trim_SS Coupe 2D,Trim_SS Sedan 4D,Trim_SVM Hatchback 4D,Trim_SVM Sedan 4D,Trim_Sedan 4D,Trim_Special Ed Ultra 4D,Trim_Sportwagon 4D
0,8221,6,3.1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,9135,6,3.1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,13196,6,3.1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,16342,6,3.1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,19832,6,3.1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,16229,6,3.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
800,19095,6,3.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
801,20484,6,3.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
802,25979,6,3.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
803,35662,6,3.0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [30]:
lr = LinearRegression()

In [31]:
model = lr.fit(x_train,y_train)

In [32]:
tahmin = model.predict(x_test)

In [33]:
(mean_squared_error(tahmin,y_test))**.5    #One-Hot Encoding ile Fiyat Farki

1523.631472871132

In [34]:
r2_score(tahmin,y_test)      #One-Hot Dncoding ile Basari Orani

0.9717252793475157